                                                /* Main Container */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.FeedMainContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;

    width: 100vw;
    min-width: 300px;
    height: 100vh;

    transition: 0.5s;
    background-color: rgb(var(--bg-clr));
    color: rgb(var(--fg-clr));
}

                                                        /* Left Container */
.FeedLeftContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    width: 20vw;
    min-width: 300px;
    height: 100vh;
    overflow: scroll;
}

.feedNavHamburger {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 30px;
    height: 30px;
}

.activeFeedHamburger > .TopHamburger {
    transform: rotateZ(45deg) translateY(14px);
}

.activeFeedHamburger > .MidHamburger {
    opacity: 0;
} 

.activeFeedHamburger > .BottomHamburger {
    transform: rotateZ(-45deg) translateY(-14px);
}

.FeedNavBar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;

    margin-top: 100px;
}

.FeedNavbarContents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.FeedNavbarItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    min-width: 150px;
    width: 100%;
    max-width: 200px;
    height: 40px;

    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
    padding-left: 30px;
}

.FeedNavbarItem:hover {
    background-color: rgba(var(--fg-clr),0.2);
}

                                                        /* Middle Container */
.FeedMiddleContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    /* max-width: 600px; */
    width: 60vw;
    min-width: 300px;
    height: 100vh;

    overflow: scroll;
    border-right: 2px solid rgb(60,60,60);
    border-left: 2px solid rgb(60,60,60);
}

.FeedPostThread {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: calc(100% - 20px);
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(60,60,60);
    border-radius: 10px;
}

.FeedPostTopLevel {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    padding-left: 10px;
}

.FeedPostProfilePic {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: #222;
    font-size: 20px;
    margin: 5px;
}

.FeedPostTopContents {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    width: calc(100% - 40px);
}

.FeedPostUserName {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
}

.FeedPostButton {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 70px;
    height: 30px;

    border: 2px solid blue;
    border-radius: 10px;
    background-color: blue;
    cursor: pointer;
    transition: 0.5s;
    color: white;
}

.FeedPostButton:hover {
    color: rgb(var(--fg-clr));
    background-color: rgb(var(--bg-clr));
    border: 2px solid rgb(var(--fg-clr),0.7);
}

.FeedPostContent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    width: calc(100% - 30px);
    height: 60px;

    padding-left: 10px;
    margin-left: 30px;
    resize: none;
    overflow: scroll;
    border-left: 2px solid rgb(60,60,60);
    color: white;
    background-color: transparent;
}

.FeedPostContent::placeholder {color: rgb(80,80,80);}

.FeedPostContentImages {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    height: 300px;

    overflow-x: scroll;
    overflow-y: hidden;
}

.FeedPostImage {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 290px;

    margin: 5px;
}

.FeedPostBottomLevel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: calc(100% - 50px);

    padding-left: 0;
}

                                                        /* Right Container */
.FeedRightContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: 20vw;
    min-width: 360px;
    height: 100vh;

    padding: 20px;
    overflow: scroll;
}

.FeedFrndSuggesstionBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    min-width: 250px;
    max-width: 310px;
    height: 45px;
    min-height: 40px;

    border-radius: 20px;
    padding-left: 40px;
    padding-right: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid rgb(60,60,60);
    color: rgb(80,80,80);
}

.FeedRightContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;
    
    padding: 5px;
}

.FeedRightSeeAllBtn {
    color: white;
    text-decoration: none;
}

.FeedRightSeeAllBtn:hover {
    color: blue;
}

.FeedFrndSuggestions {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: 100%;
    min-width: 310px;
}

.FeedFrndContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 300px;
    height: 80px;

    margin: 5px;
}

.FeedFrndDP {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    font-size: 20px;
    border-radius: 50%;
    background-color: rgb(40,40,40);
}

.FeedFrndDetails {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: calc(100% - 40px);
}

.FeedFrndMainDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    width: 100%;

    padding: 5px;
}

.FeedFrndUserName {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;

    overflow: hidden;
}

.FeedFrndFollowStats {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;

    color: rgb(80,80,80);
    font-size: 14px;
}

.FeedFrndFollowBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 120px;
    height: 36px;

    border: 2px solid rgb(60,60,60);
    cursor: pointer;
}

@media only screen and (max-width:1000px) {
    .FeedRightContainer {display: none;width: 0;}
    .FeedMiddleContainer {width: 80w; border-right: 0;}
    .FeedLeftContainer {min-width: 200px;}
}

@media only screen and (max-width:500px) {
    .FeedMainContainer {
        flex-direction: column;
    }
    .FeedLeftContainer {
        position: fixed;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        top: 0;

        width: 100vw;
        height: 60px;

        overflow: scroll;
        padding-top: 15px;
        padding-left: 20px;
        background-color: black;
        z-index: 2;
    }
    .feedNavHamburger {display: flex;}
    .activeFeedHamburger ~ .FeedNavBar {
        position: absolute;
        display: flex;
        z-index: 2;
    }
    .FeedNavBar {
        display: none;
    }
    .FeedMiddleContainer {
        margin-top: 60px;

        width: 100vw;

        border: 0;
        z-index: 0;
    }
}