.joinRoomContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 100%;
    max-width: 800px;
    min-width: 300px;
    height: 60px;
}

.InputBox {
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(100% - 110px);
    height: 50px;

    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: transparent;
    border: 2px solid rgb(60,60,60);
    border-radius: 5px;
}

.InputBox::placeholder {color: rgb(140,140,140);}

.joinBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 50px;

    margin: 5px;
    background-color: rgb(40,40,40);
    border-radius: 10px;
    color: white;
    border: 0;
}

.VideosContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    min-width: 300px;
    max-width: 800px;
}

.myVideoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 300px;
}

.showMyVideoBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px;
    height: 60px;

    margin: 10px;
    font-size: 18px;
    background-color: green;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.videoBox {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 300px;
    height:300px;

    margin: 5px;
}

.otherVideoContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 300px;
}