.testingChatContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    padding: 10px;
    overflow: scroll;
}

.testingChatTop {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: calc(100% - 20px);
    height: 60px;

    padding: 10px;
}

.testingChatInputBox {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80vw;
    max-width: 400px;
    min-width: 250px;
    height: 40px;

    padding: 5px;
    border-radius: 5px;
    background-color: rgb(40,40,40);
    color: white;
}

.testingSendBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px;
    height: 40px;

    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: green;
    color: white;
    cursor: pointer;
}

.testingMessageContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.testingMessageSent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    min-width: 250px;
    min-height: 100px;

    background-color: grey;
    border: 2px solid rgb(60,60,60);
    margin: 10px;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.testingMessageRecieved {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    min-width: 250px;
    min-height: 100px;

    background-color: rgb(30, 185, 30);
    border: 2px solid rgb(60,60,60);
    margin: 10px;
    padding: 10px;
    color: white;
    border-radius: 10px;
}