.notificationHeading {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;

    font-size: 28px;
    font-weight: 700;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(var(--fg-clr));
}

.notificationsContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: 100%;

    padding: 5px;
}

.noNotificationsText {
    display: flex;

    padding: 20px;
    font-size: 24px;
    font-weight: 500;
}

.NotificationMainContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    width: calc(100% - 10px);
    min-height: 70px;

    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(60,60,60);
}

.NotificationPic {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    margin-top: 10px;
    background-color: #222;
    font-size: 20px;
}

.NotificationDetails {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;

    padding: 5px;
}

.NotificationTime {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    height: 15px;

    padding: 5px;
    font-size: 12px;
    color: rgb(60,60,60);
}

.NotificationMsg {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;

    padding-left: 10px;
}

.NotificationPerformer {
    display: flex;

    font-size: 16px;
    font-weight: 500;
    padding-right: 5px;
}