.SettingsRightContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 300px;
    width: 75vw;
    min-height: 100vh;

    border-left: 2px solid rgb(60,60,60);
    overflow: scroll;
}