* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.singleThreadmainContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
}

.threadMainContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;

    width: 100%;
}

.threadContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    
    max-width: 600px;
    width: calc(100% - 20px);

    padding: 10px;
    margin: 10px;
    background-color: rgba(var(--bg-clr),0.8);
    color: rgba(var(--fg-clr),1);
}

.topLevel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    width:  calc(100% - 45px);
}
.userDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;
}

.ThreadprofilePic {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 40px;

    font-size: 20px;
    margin: 5px;
    border-radius: 50%;
    background-color: #222;
    overflow: hidden;
}

.userNameBlock {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    padding-left: 10px;
    font-size: 14px;
}

.datetimeBlock {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 10px;
    font-size: 14px;
    color: rgba(var(--fg-clr),0.6);
}

.threadContent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: 100%;

    border-left: 2px solid rgb(60,60,60);
    margin-left: 20px;
    padding: 5px;
    padding-left: 25px;
}

.threadStats {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    color: rgb(60,60,60);
    font-size: 20px;
}

.threadComments {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    width: calc(100% - 30px);

    margin-left: 26px;
}

.threadStatsItem {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.showReplyBtn {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;

    padding-left: 20px;
    cursor: pointer;
    color: rgb(60,60,60);
}