.addressMainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: black;
    color: white;
}
.addressContainerSlide1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    padding: 10px;
    background-color: black;
    color: white;
}

.addressMainHeading {
    position: relative;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-size: 30px;
    font-weight: 700;
    animation: headingAnimate 1s ease-in-out;
}

@keyframes headingAnimate {
    0% {
        left: -100px;
        color: transparent;
    }
    100% {
        left: 0px;
        color: white;
    }
}

.addressMainContentContainer {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    animation: contentAnimate 1s ease-in-out;
}

@keyframes contentAnimate {
    0% {
        color: transparent;
    }
    100% {
        color: white;
    }
}
.addresContentItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style-type: disc;

    width: 100%;

    font-size: 18px;
    padding: 5px;
    padding-left: 60px;
    margin: 5px;
}

.addressContainerSlide2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    padding: 10px;
    background-color: black;
    color: white;
}

.slideHeading {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    min-width: 300px;
    width: 100%;
    max-width: 800px;
    height: 60px;

    font-size: 30px;
    font-weight: 700;
    padding-left: 10px;
}

@keyframes techstakHeadAnim {
    0% {
        margin-left: -400px;
    }
    100% {
        margin-left: 0;
    }
}

.slideTwoContentContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row;

    min-width: 300px;
    width: 100%;
    max-width: 800px;

    background-color: rgb(10,10,10);
}

@keyframes techstakAnim {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}

.slideTwoContentItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 150px;
    height: 150px;

    margin: 5px;
    font-size: 18px;
    background-color: #222;
}

@media only screen and (max-width:640px) {
    .slideTwoContentContainer {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}